
.block { width: 250px;
    height: 250px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin: -125px 0 0 -125px;}
	  img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: none;
		background: #F0FFFF;
    }
.center{  width: auto;
    height: auto;
    position: absolute;
	left: 190px;
	right: 190px;
	background:  #F0FFFF;
    top: 35%;
	margin-left: 20px;
   	

}
.center1{  width: auto;
    height: auto;
	background:  #F0FFFF;
	position: absolute;
    top: 35%;

   	

}
.all{
	display: inline-block;
	margin-top: 30px;
	font-family: Arial;
	font-size: 20px;
	text-indent: 50px;
}
.div{  vertical-align: center;
   text-align: center;
}
 #footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    padding: 2px;
   }
   #footer div {
    padding: 10px; /* Поля вокруг текста */
    background: #4169E0; /* Цвет фона */
   }
  

#menu ul li {display: inline;}
#menu ul li a {text-decoration:none; margin-left:3px; border:1px solid #000000; padding: 3px 4px; border-bottom:0; background:#CEDEFF;}
#menu ul li a:link {color:#493;}
#menu ul li a:visited {color:#647;}
#menu ul li a:hover {color:#000; background:#6699FF; border-color:#227}
#menu ul li a#nowopen {background:#fff; border-bottom: 1px solid #fff;}



 
   body {
    font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #1E90FF ; /* Цвет фона */
   margin: 0; /* Убираем отступы */
   font-family: Comic Sans MS, cursive;
   }
  
 
  
   #footer {
    background:  #4169EF; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 2px; /* Отступы вокруг текста */
   }
   
